<div class="row">
  <div class="col-lg-12">
    <div class="table-responsive">
        <table id="table-fertilizers" class="table table-striped">
          <thead></thead>
          <tbody></tbody>
        </table>
    </div>
  </div>
</div>

<%= javascript_include_tag "ajax/fertilizers" %>