<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
  <h5 class="about-heading"><%= t('about.title') %></h5>
  <p>
    <%= t('about.content').html_safe %>
  </p>
</div>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
  <h5 class="about-heading"><%= t('solution.title') %></h5>
  <p>
    <%= t('solution.content').html_safe %>
  </p>
</div>