<div class="pull-left login-desc-box-l">
  <h4 class="paragraph-header">
    <%= t('content').html_safe %>
  </h4>
  <div class="login-app-icons">
    <a href="javascript:void(0);" class="btn btn-danger btn-sm"><i class="fa fa-youtube-play"></i> <%= t('demonstration') %></a>
    <a href="javascript:void(0);" class="btn btn-danger btn-sm"><i class="fa fa-android"></i> <%= t('download')  %></a>
  </div>
</div>
<%= image_tag 'demo/iphoneview.png', class: "pull-right display-image", style: "width:210px" %>
