<ul class="header-dropdown-list hidden-xs">
  <li>
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <%= image_tag 'flags/es.png' %>
      <span> ES </span> <i class="fa fa-angle-down"></i> </a>
    <ul class="dropdown-menu pull-right">
      <li class="active">
        <a href="javascript:void(0);">
          <%= image_tag 'flags/es.png' %> ES</a>
      </li>
      <li>
        <a href="javascript:void(0);">
          <%= image_tag 'flags/us.png' %> US</a>
      </li>
    </ul>
  </li>
</ul>