<div id="logout" class="btn-header transparent pull-right">
  <span>
    <%= link_to(destroy_user_session_path, :title => 'Salir') do %>
        <i class="fa fa-sign-out"></i>
    <% end %>
  </span>
</div>