<div class="alert alert-success fade in" style="display: none">
  <button class="close">
    ×
  </button>
  <i class="fa-fw fa fa-check"></i>
  <strong>Operacion exitosa.</strong>  <span id="alert-success">se ha creado un nuevo registro</span>
</div>

<div class="alert alert-warning fade in" style="display: none">
  <button class="close">
    ×
  </button>
  <i class="fa-fw fa fa-warning"></i>
  <strong>Advertencia.</strong> <span id="alert-warning">Your monthly traffic is reaching limit. </span>
</div>

<div class="alert alert-info fade in" style="display: none">
  <button class="close">
    ×
  </button>
  <i class="fa-fw fa fa-info"></i>
  <strong>Información.</strong> <span id="alert-info">You have 198 unread messages.</span>
</div>

<div class="alert alert-danger fade in" style="display: none">
  <button class="close">
    ×
  </button>
  <i class="fa-fw fa fa-times"></i>
  <strong>Error.</strong> <span id="alert-danger">The daily cronjob has failed.</span>
</div>