<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado cambiar su contraseña. Usted puede hacer esto a través del siguiente enlace.</p>

<p><%= link_to 'Cambiar mi clave', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si usted no ha solicitado este, por favor ignore este mensaje.</p>
<p>Tu contraseña no cambiará hasta que acceda al enlace anterior y crear uno nuevo.</p>


----------------------------------------

<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>


-- Equipo AgroCL® --
