<div class="row">
  <div class="col-md-10">
    <ul class="nav nav-tabs" id="tab-account">
      <li class="active"><a href="javascript:void(0);">Datos Personales</a></li>
      <li><a href="javascript:void(0);">Seguridad</a></li>
      <li><a href="javascript:void(0);">Configuración General</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-10 tab-content-custom">
    <fieldset>
      <div class="form-group has-legend">
        <label class="col-md-2 control-label">E-mail</label>
        <div class="col-md-10">
          <div class="input-group">
            <%= current_user.email %>
          </div>
          <span class="help-block">&nbsp;</span>
        </div>
      </div>

      <div class="form-group has-legend">
        <label class="col-md-2 control-label">Nombre</label>
        <div class="col-md-10">
          <input class="form-control input-sm" type="text" name="name" id="name" autofocus>
          <span class="help-block">&nbsp;</span>
        </div>
      </div>

      <div class="form-group has-legend">
        <button id="btn-save-profile" class="btn btn-primary">
          Actualizar
        </button>
      </div>

    </fieldset>
  </div>
</div>


<script type="text/javascript">
    Account.init();
</script>